/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*-----------------------------------------------------------------------*/
/* admin list table styles */

table.wp-list-table th.column-hidden { display: none; }

/*-----------------------------------------------------------------------*/
/* formio overrides & extensions for wordpress admin theme compatibility */

#side-sortables .formio label {
	width: 40%;
}
#side-sortables .formio input, #side-sortables .formio textarea, #side-sortables .formio select {
	width: 45%;
}
#side-sortables .formio input[type=submit],
#side-sortables .formio input[type=reset],
#side-sortables .formio input[type=button],
#side-sortables .formio input[type=checkbox],
#side-sortables .formio input[type=radio],
#side-sortables .formio select {
	width: auto;
}
#side-sortables .formio .datetime label {
	width: 20%;
	font-size: 0.8em;
}

.formio label {
	font-weight: normal;
}
.formio ul.token-input-list li p {
	font-weight: normal;
}

.postbox.formio {
	border: 1px solid #D1E5EE;
}


div.token-input-dropdown ul li.token-input-dropdown-item.img,
div.token-input-dropdown ul li.token-input-dropdown-item2.img,
ul.token-input-list li.img {
	float: left;
	text-align: center;
	width: 160px;
}

li.token-input-input-token {
	margin-bottom: 0;
}

ul.token-input-list li.img {
	position: relative;
	line-height: 1.5em;
}

ul.token-input-list li.img p {
	float: none;
	text-align: center;
}

ul.token-input-list li div {
	height: 60px;
	position: relative;
	overflow: hidden;
}

ul.token-input-list li div img {
	position: absolute;
	display: block;
	top: -45px;
	width: 150px;
	height: 150px;
}

li.token-input-token.img .token-input-delete-token {
	position: absolute;
	top: 1px;
	right: 2px;
}

/* make metabox tab backgrounds clear */
.postbox.formio .ui-tabs.ui-widget-content {
	background: transparent;
	border: none;
}
#poststuff .inside.ui-tabs {
	margin: 0;
	padding: 0;
}
.formio .formnav.ui-widget-header {
	background: transparent;
	border-bottom: 1px solid #D3D3D3;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

/* make forms smaller on the media page or they will be way too wide */
.media-item .formio { width: 620px; }
.media-item .formio legend { font-weight: bold; font-size: 13px; }
.media-item .formio label { font-weight: bold; }
.media-item .formio .multiple label { font-weight: normal; }

/*-----------------------------------------------------------------------*/
/* styles for custom input types */

.formio .facebook input,
.formio .twitter input,
.formio .youtube input {
	width: auto;
}

.formio div.blck.tax_input .rows label {
	display: inline;
	width: auto;
}

/* make richEdit inputs the right width */
.formio .richedit .wp-editor-wrap { display: inline-block; width: 67%; vertical-align: top; }
.formio .richedit .wp-editor-container { background: #FFF; }

/* plupload input styles */
.formio .richupload .plupload-upload-ui { display: inline-block; width: 67%; vertical-align: top; }
.formio .drag-drop-area .drag-drop-inside p {
    display: block;
}
.formio div.drag-drop-area {
	border: 4px dashed #ddd;
}
.formio div.drag-drop-inside {
	margin: 40px auto;
	width: 250px;
}
.formio div.drag-drop-inside p {
	color: #AAAAAA;
	text-align: center;
}
.formio div.drag-drop-area ul { margin: 0; padding: 10px; }
.formio div.drag-drop-area li {
	margin: 0 10px 10px 0;
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
	cursor: move;
	position: relative;
	overflow: hidden;
	border: 2px solid #999;
}
.formio div.drag-drop-area img {
	width: 150px;
	height: 150px;
}
.formio div.drag-drop-area li .details {
	font-weight: bold;
	padding: 0.5em;
}
.formio div.drag-drop-area li .details a {
	font-weight: normal;
	color: #21759B;
}
.formio div.drag-drop-area li:hover .img-controls {
	bottom: 0;
}
.formio div.drag-drop-area .img-controls {
	transition: bottom 0.2s;
	-moz-transition: bottom 0.2s;
	-webkit-transition: bottom 0.2s;
	position: absolute;
	height: 2em;
	bottom: -2em; right: 0;
	background: #000;
}
.formio div.drag-drop-area .img-controls a {
	width: 50%; padding: 0.5em;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.formio div.drag-drop-area .img-controls a.img-del {
	color: #F00;
	font-size: 1.5em;
	position: relative;
	top: 0.1em;
}
.formio div.drag-drop-area .progress-bar {
	position: absolute;
	background: #8E8;
	color: #444;
	width: 0;
	height: 100%;
	line-height: 150px;
}
.formio div.drag-drop-area .progress-bar span {
	white-space: nowrap;
}
.formio div.drag-drop-area li.error {
	background: #E88;
	line-height: 1.2em;
}

/* named link input with helper popup */
.formio div.row.external-link .row {
	float: left; clear: none;
}
.formio div.row.external-link .name {
	width: 33%;
	margin-right: 2%;
}
.formio div.row.external-link .href {
	width: 65%;
}
.formio div.row.external-link .target {
	width: 65%;
	margin-top: -0.8em;
}
.formio div.row.external-link .wp-link-dlg-open {
	width: 33%;
	margin-right: 2%;
	margin-top: -0.8em;
}

/*-----------------------------------------------------------------------*/
/* extra admin notification icon classes */

#adminmenu li .update-plugins.faded,
#adminmenu li a.wp-has-current-submenu .update-plugins.faded {
	background: #EEE;
	color: #444;
	border: 1px solid #464646;
}

/*-----------------------------------------------------------------------*/
/* TODO list helper class for outputting dev notes in-page */

.todo {
	padding: 0.2em;
	background: #BB00BB;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.todo:before {
	content: ':TODO: ';
}

.formio p.todo { display: inline-block; width: auto; }

/* CSS for site commit history page */

.commit h4 {
	font-family: monospace;
	margin-left: -40px;
	font-weight: bold;
}
.commit {
	padding-left: 2em;
	margin-left: 2em;
}
.commit .date { color : #008000; }
.commit .hash { color : #800000; }
.commit .author { color : #000080; font-family: sans-serif; }

/* :SHONK: fix issue with autocomplete positioning in admin section */
body.wp-admin div.token-input-dropdown {
	top: 550px;
}
