/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*-----------------------------------------------------------------------*/
/*	formio overrides for wordpress admin theme compatibility */

.formio label {
	font-weight: normal;
}

.postbox.formio {
	border: 1px solid #D1E5EE;
}

div.token-input-dropdown ul li.token-input-dropdown-item.img,
div.token-input-dropdown ul li.token-input-dropdown-item2.img {
	float: left;
	text-align: center;
	width: 160px;
}
