/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*-----------------------------------------------------------------------*/
/* formio overrides & extensions for wordpress admin theme compatibility */

#side-sortables .formio label {
	width: 40%;
}
#side-sortables .formio input, #side-sortables .formio textarea, #side-sortables .formio select {
	width: 45%;
}
#side-sortables .formio input[type=submit],
#side-sortables .formio input[type=reset],
#side-sortables .formio input[type=button],
#side-sortables .formio input[type=checkbox],
#side-sortables .formio input[type=radio],
#side-sortables .formio select {
	width: auto;
}
#side-sortables .formio .datetime label {
	width: 20%;
	font-size: 0.8em;
}

.formio label {
	font-weight: normal;
}
.formio ul.token-input-list li p {
	font-weight: normal;
}

.postbox.formio {
	border: 1px solid #D1E5EE;
}


div.token-input-dropdown ul li.token-input-dropdown-item.img,
div.token-input-dropdown ul li.token-input-dropdown-item2.img,
ul.token-input-list li.img {
	float: left;
	text-align: center;
	width: 160px;
}

li.token-input-input-token {
	margin-bottom: 0;
}

ul.token-input-list li.img {
	position: relative;
	line-height: 1.5em;
}

ul.token-input-list li.img p {
	float: none;
	text-align: center;
}

ul.token-input-list li div {
	height: 60px;
	position: relative;
	overflow: hidden;
}

ul.token-input-list li div img {
	position: absolute;
	display: block;
	top: -45px;
	width: 150px;
	height: 150px;
}

li.token-input-token.img .token-input-delete-token {
	position: absolute;
	top: 1px;
	right: 2px;
}

/* make forms smaller on the media page or they will be way too wide */
.media-item .formio { width: 620px; }
.media-item .formio legend { font-weight: bold; font-size: 13px; }
.media-item .formio label { font-weight: bold; }
.media-item .formio .multiple label { font-weight: normal; }

/*-----------------------------------------------------------------------*/
/* styles for custom input types */

.formio .facebook input,
.formio .twitter input {
	width: auto;
}

.formio div.blck.tax_input .rows label {
	display: inline;
	width: auto;
}

/*-----------------------------------------------------------------------*/
/* extra admin notification icon classes */

#adminmenu li .update-plugins.faded,
#adminmenu li a.wp-has-current-submenu .update-plugins.faded {
	background: #EEE;
	color: #444;
	border: 1px solid #464646;
}

/*-----------------------------------------------------------------------*/
/* TODO list helper class for outputting dev notes in-page */

.todo {
	padding: 0.2em;
	background: #BB00BB;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.todo:before {
	content: ':TODO: ';
}

.formio p.todo { display: inline-block; width: auto; }

/* CSS for site commit history page */

.commit h4 {
	font-family: monospace;
	margin-left: -40px;
	font-weight: bold;
}
.commit {
	padding-left: 2em;
	margin-left: 2em;
}
.commit .date { color : #008000; }
.commit .hash { color : #800000; }
.commit .author { color : #000080; font-family: sans-serif; }
